.footer {
	padding:50px 0;
	--footer-line:110px;
	color:#fff;
	overflow:hidden;

	&__top {
		display:flex;
		justify-content:center;
		margin-bottom:40px;
	}

	&__logo {
		width:194px;
		aspect-ratio: 194/52;
		position:relative;
		display:block;

		&:before,
		&:after {
			content:'';
			position:absolute;
			width:9999px;
			height:2px;
			background:$color-grey;
			top:50%;
			margin-top:-1px;
			pointer-events: none;
		}

		&:before {
			right:calc(100% + var(--footer-line));
		}

		&:after {
			left:calc(100% + var(--footer-line));
		}

		& svg {
			transition: opacity .2s;
		}

		html.no-touch &:is(a):hover {
			& svg {
				opacity:.7;
			}
		}
	}

	&__main {
		--footer-main-gap:32px;
		font-size:16px;
		line-height:1.8em;

		display:flex;
		justify-content:space-between;
		gap:40px 20px;

		&-col {
			width:calc(50%);

			&--l {
				
			}

			&--c {
				width:auto;
				flex-shrink: 0;
				padding-top:10px;
			}

			&--r {
				order:2;
				display:flex;
				justify-content: flex-end;
			}
		}
	}

	&__menu {
		width:100%;
		max-width:310px;
		--g-gap-b:var(--footer-main-gap);

		&-item {
			display:block;
			--g-cols:1;
			--g-of:2;
		}

		&-link {
			html.no-touch &:hover {
				color:$color-red;
			}
		}
	}

	&__bot {
		margin-top:85px;
		color:#565252;
		font-size: 14px;
		line-height: 17px;

		&-links {
			display:flex;
			flex-wrap:wrap;
			gap:20px;
		}

		&-link {
			html.no-touch &:hover {
				color:#fff;
			}
		}
	}
}