		<footer class="footer">
			<div class="container">
				<div class="footer__top">
					<a class="footer__logo" href="@@webRoot/">
						<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg>
					</a>
				</div>
				<div class="footer__main">
					<div class="footer__main-col footer__main-col--r">
						<div class="ui-grid footer__menu">
							<div class="ui-grid__col footer__menu-item">
								<a class="footer__menu-link" href="@@webRoot/page-about.html">
									О нас
								</a>
							</div>
							<div class="ui-grid__col footer__menu-item">
								<a class="footer__menu-link" href="@@webRoot/page-about.html">
									Расписание
								</a>
							</div>
							<div class="ui-grid__col footer__menu-item">
								<a class="footer__menu-link" href="@@webRoot/page-services.html">
									Услуги
								</a>
							</div>
							<div class="ui-grid__col footer__menu-item">
								<a class="footer__menu-link" href="@@webRoot/page-subscriptions.html">
									Клубные карты
								</a>
							</div>
							<div class="ui-grid__col footer__menu-item">
								<a class="footer__menu-link" href="@@webRoot/page-contacts.html">
									Контакты
								</a>
							</div>
							<div class="ui-grid__col footer__menu-item">
								<a class="footer__menu-link" href="@@webRoot/page-team.html">
									Наша команда
								</a>
							</div>
						</div>
					</div>
					<div class="footer__main-col footer__main-col--l">
						<div class="ui-contacts footer__contacts">
							<p>
								г. Владимир, ул.&nbsp;Дворянская, д.&nbsp;27&nbsp;а, корп.&nbsp;17
							</p>
							<p>
								<a href="tel:+74922773311">+ 7 (4922) 77-33-11</a>
							</p>
							<p>
								<a href="mailto:info@muravei33.ru" target="_blank">info@muravei33.ru</a>
							</p>
						</div>
					</div>
					<div class="footer__main-col footer__main-col--c">
						<div class="ui-socials ui-socials--white footer__socials">
							<a class="ui-socials__item" href="javascript:void(0);" target="_blank">
								<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-vk"></use></svg>
							</a>
							<a class="ui-socials__item" href="javascript:void(0);" target="_blank">
								<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-wa"></use></svg>
							</a>
							<a class="ui-socials__item" href="javascript:void(0);" target="_blank">
								<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-yt"></use></svg>
							</a>
						</div>
					</div>
				</div>
				<div class="footer__bot">
					<div class="footer__bot-links">
						<div class="footer__bot-item">
							<a class="footer__bot-link" href="@@webRoot/page-policy.html">
								Политика конфиденциальности
							</a>
						</div>
						<div class="footer__bot-item">
							<a class="footer__bot-link" href="@@webRoot/page-policy.html">
								Согласие на&nbsp;обработку персональных данных
							</a>
						</div>
						<div class="footer__bot-item">
							<a class="footer__bot-link" href="@@webRoot/page-rules.html">
								Правила посещения
							</a>
						</div>
					</div>
				</div>
			</div>
		</footer>