		<header class="header">
			<div class="header__top">
				<div class="container header__top-block">
					<div class="header__top-left">
						<a class="header__logo" href="@@webRoot/">
							<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg>
						</a>
					</div>
					<div class="header__top-center">
						<ul class="header__top-menu">
							<li class="header__top-menu-item">
								<a class="header__top-menu-link current" href="@@webRoot/">
									Расписание
								</a>
							</li>
							<li class="header__top-menu-item">
								<a class="header__top-menu-link" href="@@webRoot/">
									Услуги
								</a>
							</li>
							<li class="header__top-menu-item">
								<a class="header__top-menu-link" href="@@webRoot/">
									Клубные карты
								</a>
							</li>
							<li class="header__top-menu-item">
								<a class="header__top-menu-link" href="@@webRoot/">
									Контакты
								</a>
							</li>
						</ul>
					</div>
					<div class="header__top-phone">
						<a class="header__top-phone-btn" href="tel:+74922773311">
							+ 7 (4922) 77-33-11
						</a>
					</div>
					<div class="header__top-try">
						<button class="ui-btn ui-btn--red" type="button" data-popup="try">
							Пробная тренировка
						</button>
					</div>
					<div class="header__top-toggle menu-toggle">
						<div class="menu-toggle__line"></div>
						<div class="menu-toggle__line"></div>
						<div class="menu-toggle__line"></div>
					</div>
				</div>
			</div>
			<div class="header__pop" data-lenis-prevent>
				<div class="header__bg">
					<div class="header__bg-in">
						<img src="@@webRoot/images/header-bg.svg" alt="" />
					</div>
				</div>
				<div class="header__main">
					<div class="container header__main-block">
						<div class="header__main-left">
							<ul class="ui-sidemenu ui-sidemenu--header">
								<li class="ui-sidemenu__item" data-menu="1">
									<a class="ui-sidemenu__link ui-sidemenu__link--a current" href="@@webRoot/page-services.html">
										Услуги
									</a>
								</li>
								<li class="ui-sidemenu__item" data-menu="2">
									<a class="ui-sidemenu__link ui-sidemenu__link--a" href="@@webRoot/page-services.html">
										Услуги для&nbsp;детей
									</a>
								</li>
								<li class="ui-sidemenu__item">
									<a class="ui-sidemenu__link" href="@@webRoot/page-about.html">
										Расписание
									</a>
								</li>
								<li class="ui-sidemenu__item" data-menu="3">
									<a class="ui-sidemenu__link ui-sidemenu__link--a" href="@@webRoot/page-about.html">
										О клубе
									</a>
								</li>
								<li class="ui-sidemenu__item" data-menu="4">
									<a class="ui-sidemenu__link ui-sidemenu__link--a" href="@@webRoot/page-team.html">
										Наша команда
									</a>
								</li>
								<li class="ui-sidemenu__item">
									<a class="ui-sidemenu__link" href="@@webRoot/page-subscriptions.html">
										Клубные карты
									</a>
								</li>
								<li class="ui-sidemenu__item">
									<a class="ui-sidemenu__link" href="@@webRoot/page-contacts.html">
										Контакты
									</a>
								</li>
							</ul>
						</div>
						<div class="header__main-right">
							<div class="header__menu">
								<ul class="header__menu-list">
									<li class="header__menu-item" data-menu="1">
										<a class="header__menu-link header__menu-link--a" href="@@webRoot/page-services.html">
											Услуги
										</a>
										<span class="header__menu-arr"></span>
										<ul class="header__menu-sublist">
											<li class="header__menu-subitem">
												<a class="header__menu-sublink current">
													Персональный тренинг
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Бассейн
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Детский бассейн
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Тренажерный зал
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Групповые программы
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Кардиозона
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Сайкл
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													TRX
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Боевые искусства
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Игровые виды спорта
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Сауна и хаммам
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Массаж
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Детский клуб
												</a>
											</li>
										</ul>
									</li>
									<li class="header__menu-item" data-menu="2">
										<a class="header__menu-link header__menu-link--a" href="@@webRoot/page-services.html">
											Услуги для детей
										</a>
										<span class="header__menu-arr"></span>
										<ul class="header__menu-sublist">
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Детский бассейн
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Обучающие классы
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Игровые классы
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Оздоровительные программы
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Силовые классы
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Единоборства
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Занятия без клубного членства
												</a>
											</li>
										</ul>
									</li>
									<li class="header__menu-item">
										<a class="header__menu-link" href="@@webRoot/page-about.html">
											Расписание
										</a>
									</li>
									<li class="header__menu-item" data-menu="3">
										<a class="header__menu-link header__menu-link--a" href="@@webRoot/page-about.html">
											О клубе
										</a>
										<span class="header__menu-arr"></span>
										<ul class="header__menu-sublist">
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Расписание
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Клубные карты
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Наша команда
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Акции
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Новости/мероприятия
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Правила посещения
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Договор оферты
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Фотогалерея
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Блог
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Вакансии
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Контакты
												</a>
											</li>
										</ul>
									</li>
									<li class="header__menu-item" data-menu="4">
										<a class="header__menu-link header__menu-link--a" href="@@webRoot/page-team.html">
											Наша команда
										</a>
										<span class="header__menu-arr"></span>
										<ul class="header__menu-sublist">
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Все
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Отдел продаж
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Бассейн
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Детский бассейн
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Тренажерный зал
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Групповые программы
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Боевые искусства
												</a>
											</li>
											<li class="header__menu-subitem">
												<a class="header__menu-sublink">
													Детский клуб
												</a>
											</li>
										</ul>
									</li>
									<li class="header__menu-item">
										<a class="header__menu-link" href="@@webRoot/page-subscriptions.html">
											Клубные карты
										</a>
									</li>
									<li class="header__menu-item">
										<a class="header__menu-link" href="@@webRoot/page-contacts.html">
											Контакты
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="header__contacts">
					<div class="container">
						<div class="header__contacts-item">
							<a class="header__contacts-link" href="tel:+74922773311">
								+ 7 (4922) 77-33-11
							</a>
						</div>
						<div class="header__contacts-item">
							<button class="ui-btn ui-btn--red" type="button" data-popup="try">
								Пробная тренировка
							</button>
						</div>
					</div>
				</div>
				<div class="header__bot">
					<div class="container header__bot-block">
						<div class="header__bot-col header__bot-col--l">
							<div class="header__bot-sub">
								Подписывайтесь на&nbsp;нас и&nbsp;будьте в&nbsp;курсе событий клуба
							</div>
							<div class="header__bot-soc">
								<div class="ui-socials ui-socials--grey header__bot-socials">
									<a class="ui-socials__item" href="javascript:void(0);" target="_blank">
										<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-vk"></use></svg>
									</a>
									<a class="ui-socials__item" href="javascript:void(0);" target="_blank">
										<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-wa"></use></svg>
									</a>
									<a class="ui-socials__item" href="javascript:void(0);" target="_blank">
										<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-yt"></use></svg>
									</a>
								</div>
							</div>
						</div>
						<div class="header__bot-col header__bot-col--r">
						<div class="ui-contacts header__bot-contacts">
							<p>
								г. Владимир, ул.&nbsp;Дворянская, д.&nbsp;27&nbsp;а, корп.&nbsp;17
							</p>
							<p>
								<a href="tel:+74922773311">+ 7 (4922) 77-33-11</a>
							</p>
							<p>
								<a href="mailto:info@muravei33.ru" target="_blank">info@muravei33.ru</a>
							</p>
						</div>
						</div>
					</div>
				</div>
			</div>
		</header>