	<div class="popups-overlay"></div>
	<div class="popup popup--thx" id="ty" data-lenis-prevent>
		<div class="popup__content popup__close-container popup__content--request">
			<div class="ty">
				<div class="ty__inner">
					<div class="ty__icon">
						<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ty"></use></svg>
					</div>
					<div class="ty__ttl">
						Спасибо! <br />
						Ваша заявка успешно отправлена!
					</div>
					<div class="ty__text">
						<p>
							В ближайшее время наш&nbsp;менеджер свяжется с&nbsp;Вами
						</p>
						<p>
							Хорошего Вам дня!
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="popup popup--request" id="try" data-lenis-prevent>
		<div class="popup__content popup__close-container popup__content--request">
			<div class="popup__lines">
				<div class="popup__lines-in">
					<picture>
						<source srcset="@@webRoot/images/popup-lines.webp" type="image/webp">
						<source srcset="@@webRoot/images/popup-lines.png" type="image/png">
						<img src="@@webRoot/images/popup-lines.png" alt="" />
					</picture>
				</div>
			</div>
			<div class="request request__popup">
				<div class="request__ttl">
					Попробуйте результативный и&nbsp;комфортный фитнес, запишитесь на&nbsp;пробную тренировку!
				</div>
				<div class="request__subttl">
					В ближайшее время наш менеджер свяжется с&nbsp;Вами и&nbsp;подберёт для&nbsp;Вас наилучшее персональное предложение!
				</div>
				<form class="ui-grid request__form">
					<div class="ui-grid__col request__form-field request__form-field--2">
						<fieldset class="ui-field ui-field--dark">
							<legend class="ui-field__legend">
								Ваше имя
							</legend>
							<input class="ui-field__input" type="text" placeholder="Имя" />
						</fieldset>
					</div>
					<div class="ui-grid__col request__form-field request__form-field--2">
						<fieldset class="ui-field ui-field--dark">
							<legend class="ui-field__legend">
								Ваш телефон
							</legend>
							<input class="ui-field__input phone-input" type="text" />
						</fieldset>
					</div>
					<div class="ui-grid__col request__form-field request__form-field--f">
						<div class="request__agree">
							Мы гарантируем сохранность Ваших персональных данных.<br />
							Нажимая наи&nbsp;кнопку Вы подтверждаете свое согласие наи&nbsp;обработку персональных данных
						</div>
					</div>
					<div class="ui-grid__col request__form-field request__form-field--f">
						<div class="request__btn">
							<button class="ui-btn ui-btn--red" type="submit">
								Оставить заявку
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="popup popup--request" id="join" data-lenis-prevent>
		<div class="popup__content popup__close-container popup__content--request">
			<div class="popup__lines">
				<div class="popup__lines-in">
					<picture>
						<source srcset="@@webRoot/images/popup-lines.webp" type="image/webp">
						<source srcset="@@webRoot/images/popup-lines.png" type="image/png">
						<img src="@@webRoot/images/popup-lines.png" alt="" />
					</picture>
				</div>
			</div>
			<div class="request request__popup">
				<div class="request__ttl">
					Сделайте шаг на&nbsp;встречу здоровью и&nbsp;хорошему настроению!
				</div>
				<div class="request__subttl">
					В ближайшее время наш менеджер свяжется с&nbsp;Вами и&nbsp;подберёт для&nbsp;Вас наилучшее персональное предложение!
				</div>
				<form class="ui-grid request__form">
					<div class="ui-grid__col request__form-field request__form-field--2">
						<fieldset class="ui-field ui-field--dark error">
							<legend class="ui-field__legend">
								Ваше имя
							</legend>
							<input class="ui-field__input" type="text" placeholder="Имя" />
						</fieldset>
					</div>
					<div class="ui-grid__col request__form-field request__form-field--2">
						<fieldset class="ui-field ui-field--dark">
							<legend class="ui-field__legend">
								Ваш телефон
							</legend>
							<input class="ui-field__input phone-input" type="text" />
						</fieldset>
					</div>
					<div class="ui-grid__col request__form-field request__form-field--f">
						<div class="request__agree">
							Мы гарантируем сохранность Ваших персональных данных.<br />
							Нажимая наи&nbsp;кнопку Вы подтверждаете свое согласие наи&nbsp;обработку персональных данных
						</div>
					</div>
					<div class="ui-grid__col request__form-field request__form-field--f">
						<div class="request__btn">
							<button class="ui-btn ui-btn--red" type="submit">
								Отправить
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="popup popup--request" id="offer" data-lenis-prevent>
		<div class="popup__content popup__close-container popup__content--request">
			<div class="popup__lines">
				<div class="popup__lines-in">
					<picture>
						<source srcset="@@webRoot/images/popup-lines.webp" type="image/webp">
						<source srcset="@@webRoot/images/popup-lines.png" type="image/png">
						<img src="@@webRoot/images/popup-lines.png" alt="" />
					</picture>
				</div>
			</div>
			<div class="request request__popup">
				<div class="request__ttl">
					Узнайте все возможности нашего клуба и&nbsp;получите персональное предложение!
				</div>
				<div class="request__subttl">
					В ближайшее время наш менеджер свяжется с&nbsp;Вами и&nbsp;подберёт для&nbsp;Вас наилучшее персональное предложение!
				</div>
				<form class="ui-grid request__form">
					<div class="ui-grid__col request__form-field request__form-field--2">
						<fieldset class="ui-field ui-field--dark">
							<legend class="ui-field__legend">
								Ваше имя
							</legend>
							<input class="ui-field__input" type="text" placeholder="Имя" />
						</fieldset>
					</div>
					<div class="ui-grid__col request__form-field request__form-field--2">
						<fieldset class="ui-field ui-field--dark">
							<legend class="ui-field__legend">
								Ваш телефон
							</legend>
							<input class="ui-field__input phone-input" type="text" />
						</fieldset>
					</div>
					<div class="ui-grid__col request__form-field request__form-field--f">
						<div class="request__agree">
							Мы гарантируем сохранность Ваших персональных данных.<br />
							Нажимая наи&nbsp;кнопку Вы подтверждаете свое согласие наи&nbsp;обработку персональных данных
						</div>
					</div>
					<div class="ui-grid__col request__form-field request__form-field--f">
						<div class="request__btn">
							<button class="ui-btn ui-btn--red" type="submit">
								Отправить
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>